/* Reset some default styles */
body,
h1,
h2,
h3,
p,
form,
label,
input {
  margin: 0;
  padding: 0;
}
:root {
  --lightblue: #A2678A;
  --black: rgba(0, 0, 0, 0.826);
}
body {
  font-family: 'Arial', sans-serif;
  background-image: url("images/fair.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  height: 60%;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

fieldset {
  margin-bottom: 20px;
}

.grid-35 {
  width: 80%;
}

.grid-65 {
  width: 80%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.photo img {
  max-height: 100px;
  width: auto;
}

.btn {
  margin-top: 5px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: #A2678A;
}

.Btn {
  background-color: var(--lightblue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

a {
  color: var(--lightblue);
  text-decoration: none;
}
label{
  color: #A2678A;
}
.wrapper {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto;   /* Center the container */
}