* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', 'san-serif';
  box-sizing: border-box;
  color: white;
}


  :root {
    --light: #A2678A;
    --black: hsl(0, 3%, 7%);
  }



body {
  background: #1d1e2238;
}

.section-container {
  max-width: 100%;
  /* background: #595959; */
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.product-list-container-Adventures,
.product-list-container-Date {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #333 #ccc;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: row;
}

.product-card {
  position: relative;
  flex: 0 0 auto;
  width: 250px;
  height: 250px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #fff;
}

/* .new-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #FF5733;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
  }
   */
.product-card img {
  width: 100%;
  height: auto;
}


.product-list-container-Adventures::-webkit-scrollbar,
.product-list-container-Date::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5em;
}

.product-list-container-Adventures::-webkit-scrollbar-thumb,
.product-list-container-Date::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.product-list-container-Adventures::-webkit-scrollbar-thumb:hover,
.product-list-container-Date::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.product-list-container-Adventures::-webkit-scrollbar-track,
.product-list-container-Date::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.scroll-icon {
  font-size: 2em;
  cursor: pointer;
  margin-left: 20px;
  /* Spacing between the container and the arrow */
}

p,
h3 {
  color: black;
}

h3 {
  justify-content: center;
  text-align: center;
}

.container1 {
  
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
 
}

.text span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #fff;
  animation: zoomup 2s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #A2678A;
    filter: blur(1px);
    text-shadow: 0 0 10px #A2678A, 0 0 20px #A2678A, 0 0 30px #A2678A,
      0 0 40px #A2678A, 0 0 60px #A2678A, 0 0 80px #A2678A, 0 0 100px #A2678A,
      0 0 120px #A2678A;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

@media screen and (max-width: 600px) {
  .product-card {
    width: 90%;
    margin: 10px;
  }
}