<!DOCTYPE html>
<html lang="en">
<head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
    <script type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hourglass.js"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nav.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='about.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='footer.css')}}" />
    <title>Kharagny</title>
</head>
<body>
    <div class="container">
        
          <nav>
            <l-hourglass size="40"
              bg-opacity="0.5"
              speed="1.75"
              color="purple"></l-hourglass>
            <p class="logo pulsate">Kharagny</p>
            <ul class="nav">
              <li><a href="/" class="blue">Home</a></li>
              <li><a href="/about.html" class="blue">About</a></li>
              <li><div class="dropdown">
                <button class="dropbtn">Category</button>
                <div class="dropdown-content">
                  <a href="categories.html" class="blue">Adventures</a>
                <a href="date.html" class="blue">Dates</a>
                <a href="food.html" class="blue">Food</a>
                <a href="cinema.html" class="blue">Cinema</a>
                <a href="arcade.html" class="blue">Arcade</a>
                </div>
              </div></li>
              <li><a href="/profile.html">
                <div class="profile-picture">
                  <img src="static\images\profile.jpeg" alt="Profile">
                </div>
              </a></li>
            </ul>
          </nav>
        
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>We are Kharagny, we offer you outings ideas so you don't have to waist your time thinking about it</p>
            
        </div>

        <div class="container1">
          <div class="text">
            <span style="--i:1">T</span>
            <span style="--i:2">e</span>
            <span style="--i:3">a</span>
            <span style="--i:4">m</span>
            
          </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="{{url_for('static', filename='images/enjy.jpeg') }}" alt="Enjy" class="enjy">

                    <div class="container">
                        <h2>Enjy Ramadan</h2>
                        <p class="title">CS student</p>
                        <p>An ambitious CS student.</p>
                        <p>enjy.ramadan@msa.edu.eg</p>
                        <p>
                            <a href="https://www.linkedin.com/in/enjy-ramadan-0a3951158?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="button">
                              Contact
                            </a>
                          </button>
                          </p>
                    </div>
                </div>
            </div>

            
            <div class="column">
              <div class="card">
                  <img src="{{ url_for('static', filename='images/sohaila.jpeg') }}" alt="John"
                      style="width:100%;" class="enjy">
                  <div class="container">
                      <h2>Sohaila Ashraf</h2>
                      <p class="title">CS Student</p>
                      <p>An ambitious CS student.</p>
                      <p>sohaila.ashraf1@msa.edu.eg</p>
                      <p><a href="https://www.linkedin.com/in/sohaila-ashraf-74b887213?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="button">
                          Contact
                        </a></p>
                  </div>
              </div>
          </div>
           

            <div class="column">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/Mazen.jpeg') }}" alt="John"
                        style="width:100%;" class="enjy">
                    <div class="container">
                        <h2>Mazen Ashraf</h2>
                        <p class="title">CS Student</p>
                        <p>An ambitious CS student.</p>
                        <p>mazen.ashraf4@msa.edu.eg</p>
                        <p><a href="https://www.linkedin.com/in/mazen-ebrahim-8b6a171a9/" class="button">
                            Contact
                          </a></p>
                    </div>
                </div>
            </div>

           



        </div>
        </div>
        </div>


        <footer class="footer">
          <div class="container2">
            <div class="row">
              
              <div class="footer-col">
                <h4>Company</h4>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about.html">About</a></li>
                  
                </ul>
              </div>
              <div class="footer-col">
                <h4>Category</h4>
                <ul>
                  <li><a href="/categories.html">Adventure</a></li>
                  <li><a href="/date.html">Dates</a></li>
                  <li><a href="/food.html">Food</a></li>
                  <li><a href="/cinema.html">Cinema</a></li>
                  <li><a href="/arcade.html">Arcade</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
       </footer>
     


</body>
</html>