<!DOCTYPE html>
<html lang="en">

<head>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hourglass.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kharagny</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nav.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='categories.css')}}" /><link rel="stylesheet" type="text/css" href="{{url_for('static',filename='footer.css')}}" />
  
</head>

<body>
  <div class="box">
    <nav>
      <l-hourglass size="40" bg-opacity="0.5" speed="1.75" color="purple"></l-hourglass>
      <p class="logo pulsate">Kharagny</p>
      <ul class="nav">
        <li><a href="/home.html" class="blue">Home</a></li>
        <li><a href="/about.html" class="blue">About</a></li>
        <li><div class="dropdown">
          <button class="dropbtn">Category</button>
          <div class="dropdown-content">
            <a href="categories.html" class="blue">Adventures</a>
            <a href="date.html" class="blue">Dates</a>
            <a href="food.html" class="blue">Food</a>
            <a href="cinema.html" class="blue">Cinema</a>
            <a href="arcade.html" class="blue">Arcade</a>
            <!-- Add more dropdown items here -->
          </div>
        </div></li>
        <li><a href class="blue"></a></li>
      </ul>
    </nav>
  </div>
  <a href="place.html">
    <button style="background-color: #A2678A; color: hsl(0, 3%, 7%); float: right; margin-right: 50px; font-size: larger; border-radius: 12px; padding: 10px 20px; border: none;font-weight: bold;">ADD PLACE</button>

  </a>
  <div class="container1">
    <div class="text">
      <span style="--i:1">A</span>
      <span style="--i:2">r</span>
      <span style="--i:3">c</span>
      <span style="--i:4">a</span>
      <span style="--i:5">d</span>
      <span style="--i:6">e</span>
      <span style="--i:7">s</span>
      
    </div>
  </div>


  <section class="gallery">
    <div class="gallery-item">
      <a href="popup.html">
        <div class="item-content">
          <div class="info">
            <h3>Title:</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
  
  
            <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
          </div>
        </div>
      </a>
    </div>
    <div class="gallery-item">
      <a href="popup.html">
        <div class="item-content">
          <div class="info">
            <h3>Title:</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
  
  
            <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
          </div>
        </div>
      </a>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />


          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />

          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
         
          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
          
          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
          
        </div>
      </div>
    </div>
    <div class="gallery-item">
      <div class="item-content">
        <div class="info">
          <h3>Title:</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />

          <p> 
            <a><i class="fas fa-dollar-sign price-icon"> </i> price</a><br>
            <a><i class="fas fa-map-marker-alt location-icon"> </i> Location</a><br>
            <i class="fas fa-info-circle description-icon"> </i> Description</a><br></p>
        </div>
      </div>
    </div>

  </section>


  <footer class="footer">
    <div class="container2">
      <div class="row">
        
        <div class="footer-col">
          <h4>Company</h4>
          <ul>
            <li><a href="/home.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h4>Category</h4>
          <ul>
            <li><a href="/categories.html">Adventure</a></li>
            <li><a href="/date.html">Dates</a></li>
            <li><a href="/food.html">Food</a></li>
            <li><a href="/cinema.html">Cinema</a></li>
            <li><a href="/arcade.html">Arcade</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
 </footer>




</body>

</html>