<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hourglass.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kharagny</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nav.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='categories.css')}}" />
  </head>
  <body>
    <div class="box">
      <nav>
        <l-hourglass
          size="40"
          bg-opacity="0.5"
          speed="1.75"
          color="white"
        ></l-hourglass>
        <p class="logo pulsate">Kharagny</p>
        <ul class="nav">
          <li><a href="index.html" class="blue">Home</a></li>
          <li><a href class="blue">About</a></li>
          <li><a href="categories.html" class="blue">Category</a></li>
          <li><a href class="blue"></a></li>
        </ul>
      </nav>
    </div>
    <a href="place.html">
      <button style="background-color: white; color:violet; float: right;margin-right: 70px;font-size: larger;">ADD PLACE</button>
    </a>
    <div>
      <h1 style="color: white; text-align: left">Category</h1>
      <br />
    </div>


    <section class="gallery">
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
          <h3>Image 2 Title</h3>
          <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
          
           
            <p>Description of Image 2</p>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>
      <div class="gallery-item">
        <div class="item-content">
          <div class="info">
            <h3>Image 2 Title</h3>
            <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Image 1" />
            
             
              <p>Description of Image 2</p>
            </div>
        </div>
      </div>

    </section>
  </body>
</html>
