<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='edit.css')}}" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kharagny</title>
</head>

<body>
  <div class="wrapper">
    <div class="profile">
      <div class="content">
        <h1>Edit Profile</h1>
        <form action="update" method="post">
          <!-- Photo -->
          <fieldset>
            <div class="grid-35">
              <label for="avatar">Your Photo</label>
            </div>
            <div class="grid-65">
              <span class="photo" title="Upload your Avatar!"></span>
              <input type="file" class="btn" />
            </div>
          </fieldset>
          <fieldset>
            <div class="grid-35">
              <label for="fname">Username</label>
            </div>
            <div class="grid-65">
              <input type="text" name="new_username" placeholder="New Username" />
            </div>
          </fieldset>

          <fieldset>
            <div class="grid-35">
              <label for="fname">Old Password</label>
            </div>
            <div class="grid-65">
              <input type="password" name="old_password" placeholder="Old Password" />
            </div>
          </fieldset>

          <fieldset>
            <div class="grid-35">
              <label for="fname"> New Password</label>
            </div>
            <div class="grid-65">
              <input type="password" name="new_password" placeholder="New Password" />
            </div>
          </fieldset>


          <fieldset>
            <input type="submit" class="Btn" value="Save Changes" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <script src="{{url_for('static',filename='edit.js')}}"></script>
</body>

</html>