<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
    <script type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hourglass.js"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kharagny</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='section.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nav.css')}}" />
  </head>
  <body>
   
    <div class="container">
      <div class="box">
        <nav>
          <l-hourglass size="40"
            bg-opacity="0.5"
            speed="1.75"
            color="white"></l-hourglass>
          <p class="logo pulsate">Kharagny</p>
          <ul class="nav">
            <li><a href="index.html" class="blue">Home</a></li>
            <li><a href class="blue">About</a></li>
            <li><a href="vis.html" class="blue">Category</a></li>
            <li><a href class="blue"></a></li>
          </ul>
        </nav>
      </div>
      <h2 class="Category">Adventures</h2>
      <section class="section-container">
        
        <div id="scrollLeftAdventures" class="scroll-icon">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="product-list-container-Adventures">
          <div class="product-list" id="productList">
            <div class="product-card">
              <h3>Product 1</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 1 Image">
             
              <p>This is product 1.</p>
            </div>
           
            <div class="product-card">
              <h3>Product 2</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 2 Image">
              
              <p>This is product 2.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 3</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 3 Image">
              
              <p>This is product 3.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 4</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 4 Image">
             
              <p>This is product 4.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 5</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 5 Image">
              
              <p>This is product 5.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 6</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 6 Image">
              
              <p>This is product 6.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 7</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 7 Image">
              
              <p>This is product 7.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 8</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 8 Image">
              
              <p>This is product 8.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 9</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 9 Image">
             
              <p>This is product 9.</p>
            </div>
          </div>
        </div>
        <div id="scrollRightAdventures" class="scroll-icon">
      <i class="fas fa-arrow-right"></i>
    </div>
    </div>
      </section>
      <h2 class="Category">Date</h2>
      <section class="section-container">
        
        <div id="scrollLeftDate" class="scroll-icon">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="product-list-container-Date">
          <div class="product-list" id="productList">
            <div class="product-card">
              <h3>Product 1</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 1 Image">
              
              <p>This is product 1.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 2</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 2 Image">
              
              <p>This is product 2.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 3</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 3 Image">
              
              <p>This is product 3.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 4</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 4 Image">
              
              <p>This is product 4.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 5</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 5 Image">
             
              <p>This is product 5.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 6</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 6 Image">
              
              <p>This is product 6.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 7</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 7 Image">
              
              <p>This is product 7.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 8</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 8 Image">
              
              <p>This is product 8.</p>
            </div>
            
            <div class="product-card">
              <h3>Product 9</h3>
              <img src="{{url_for('static',filename='images/download.jpg')}}" alt="Product 9 Image">
              
              <p>This is product 9.</p>
            </div>
          </div>
        </div>
        <div id="scrollRightDate" class="scroll-icon">
      <i class="fas fa-arrow-right"></i>
    </div>
    </div>
      </section>
      <script type="module" src="{{url_for('static',filename='section.js')}}"></script>

  </body>
</html>
