<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hourglass.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/newtonsCradle.js"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kharagny</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='nav.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='place.css')}}" />
  </head>
  <body>
    <div class="box">
      <nav>
        <l-hourglass
          size="40"
          bg-opacity="0.5"
          speed="1.75"
          color="white"
        ></l-hourglass>
        <p class="logo pulsate">Kharagny</p>
        <ul class="nav">
          <li><a href="index.html" class="blue">Home</a></li>
          <li><a href class="blue">About</a></li>
          <li><a href="categories.html" class="blue">Category</a></li>
          <li><a href class="blue"></a></li>
        </ul>
      </nav>
    </div>
    <br>
    <div class="container">
        <h1 style="color: white; text-align: center">ADD NEW PLACE</h1>
        <br>
        <form id="addItemForm">
            <label for="imageFile" class="image-upload">
                <input type="file" id="imageFile" accept="image/*" required>
                <span class="upload-text">Upload Picture</span>
                <br>
                <br>
            </label>
          <input type="text" id="Title" placeholder="Enter Title" required>
          <input type="text" id="Location" placeholder="Enter Location" required>
          <textarea id="Description" placeholder="Enter Description" required></textarea>
          <button type="submit">Add Place</button>
        </form>
        <div id="gallery" class="gallery"></div>
      </div>
    
      <script src="place.js"></script>
  </body>